body{
	background: black;
	color: white;
}

a{
	color: gray;
}

a:hover{
	color: black;
}

h1{
	font-family: monospace;
	color: tomato;
	font-size: 100pt;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.indent {
	margin-left: 10px;
}